body{
    font-family: "Epilogue";
    transition: 0.3s;
    margin-right: 0px;
    margin-left: 0px;
}
#img1{
    width:40px
}
#flexsmall{
    display: flex;
    flex-direction: row;
}
#p1{
    font-weight: 500;
}
#flex2{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.p1{
    font-weight:400
}
#flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#flexmedium{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#div1{
    position: absolute;
    margin-top: 3rem;
    left:45%
}
#flex2{
    margin-left: 4rem;
    margin-right: 4rem;
}
#p4,#p5,#p6{
    font-weight: 500;
}
#flexsmall{
    margin-left: 5rem;
}
#btn1{
    margin-right: 4rem;
    background-color: white;
    border: 2px solid rgb(0, 151, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
#btn1:hover{
    background-color: rgb(0, 153, 0);
    color:white;
    transform: scale(1.1);
}
#topbar{
    margin-top:20px
}
#img1{
    width:60px;
}
#flex1{
    align-items: center;
}
.p1:hover{
    color:rgb(0, 153, 0);
    cursor: pointer;
}
#second{
    background-color: #F4F4EE;
    padding: 5rem;
}
#span2{
    color:rgb(0, 153, 0);
    font-size: 150%;
}
#p8{
    font-size: 250%;
    width:23rem
}
#div1{
    transition: 0.3s;
    background-color: white;
    padding: 1rem;
    top:0;
    opacity: 0;
    z-index: -1;
}
#div1.anc{
    z-index: 1;
    top:20;
    opacity: 1;
}
#span1:hover{
    color: rgb(0, 153, 0);
    cursor: pointer;
}
#p8{
    line-height: 4.8rem;
    font-size: 300%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#span2{
font-family: "Epilogue";
position: relative;
top:10px
}

#p88,#p11{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
}
/* #p9,#p10{
    font-family: "Epilogue";
    font-size: 400%;
    height:5px;
    margin-top:-25px;
    color:rgb(0, 153, 0)
} */
.gradient-text {
  font-size: 400%;
  font-weight: 700;
  margin-top:-40px;
  margin-bottom: -50px;
    background: radial-gradient( dodgerblue,#6bb4f0,#007504);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
  }
  #div2{
    position: relative;
    left:200px;
    transform: scale(1.3);
  }
  #p88,#p11{
    font-weight: 500;
    color:rgb(84, 84, 84)
  }
  #flex3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #img2{
    width:400px
  }
  #div2{
    position: absolute;

  }
  #img2{
    margin-left: 55rem;
    margin-top: 10rem;
  }
  #four{
    position: absolute;
    background-color: #D6D8C3;
    padding: 1.3rem;
    width: 50%;
    top:30rem;
    border-radius: 12px 10px 88px;
    
  }
  #p12{
    font-size: 150%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #five{
    position: absolute;
    background-color: #D6D8C3;
    padding: 1.3rem;
    width: 25%;
    left:59rem;
    top:10rem;
    border-radius: 12px;
  }
  #p13{
    line-height: 25px;
  }
  #s{
    font-size: 150%;
    color:rgb(0, 212, 0)
  }
  #btn1{
    margin-bottom:10px
  }
  #img2{
    border-radius: 15px;
    transition: 0.3s;
  }
  #img2:hover{
    transform: scale(1.05);
  }
  #s1{
    font-size: 150%;
    color: green;
  }
  #p14{
    text-align: center;
    font-size: 200%;
  }
  #img3{
    width:600px;
    float: right;
    margin-right: 20px;
    border-radius: 20px;
  }
  #div4{
    width:50%;
    position: absolute;
    background-color: #ecfde5;
    padding:2rem;
    left:20px;
    top:75rem
  }
  #p15{
    font-size: 150%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #third{
    height:540px
  }
  #fourth{
    background-color: #fdfef2;
    padding: 20px;
  }
  #p16{
    text-align: center;
    font-size: 200%;
    color:#444444
  }
  #p17,#p19{
    font-size: 250%;
    color:dodgerblue;
    font-weight: 600;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #group1,#group2{
    background-color: #e7f4f9;
    width:50%;
    padding: 20px;
    border-radius: 18px 20px 55px;
    margin-left: 30px;
  }
  #onea,#twoa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #img4{
    margin-right: 100px;
    width:500px
  }
  #p18,#p20{
    font-family: baumans;
    font-size: 120%;
  }
#img5{
    width: 500px;
    border-radius: 20px;
    margin-left: 50px;
}
#twoa{
    margin-top:120px;
    margin-bottom: 100px;

}
#onea{
    margin-top:150px
}
#img6{
    position: absolute;
    top:100rem;
    width: 200px;
}
#p21{
    font-size: 300%
    ;
    text-align: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p16{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#s24{
font-size: 150%;
background:linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);;
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 
}
.img{
    width:120px;
    position: relative;
    top:-5rem
}
#childflex1{
    background: #F4F4EE;
    display: flex;
    width:17%;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    border-radius: 0.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#flex4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10rem;
    margin-bottom: 14rem;
}
#p22{
    font-size: 150%;;
    font-weight: 500;
}
#p22{
    margin-top: -3rem;
}
.img{
    transition: 0.5s;
    cursor: pointer;
}
.img:hover{
    transform: scale(1.11);
}

#line{
    background-color: #F4F4EE;
    border:0px;
    border-color: #F4F4EE;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    top:-80px;
    border-top: 0.1rem solid;
}
#s25{
    font-weight: 500;
}
#p24{
    width:50%
}
#divlast1{
    display: flex;
    flex-direction: column;
    width:50%;
    line-height: 30px;
    align-items: baseline
}
.smalli{
    width:30px;
    margin-left:10px
}
#fleximg{
    display: flex;
    flex-direction: row;
    
}
#all{
    display: flex;
    flex-direction: row;
}
.headinga{
    color:rgb(0, 153, 0);
    font-weight: 500;
}
.verysmall{
    width: 30px;
    height:30px
}
#flex5{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#p26{
    margin-left: 10px;
}
#divlast2,#divlast3{
    display: flex;
    flex-direction: column;
    align-items:first baseline;
}
#divlast3{
    margin-left:200px
}
#seventh{
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: -20px;
}
#p15{
    color: dodgerblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:120%;
}
.p1 {
    color: black;
    cursor: pointer;
  }


  .p1.selected {
    color: rgb(0, 153, 0);
  }
  #img11{
    width: 100%;
      height: 100%;
      object-fit: cover; 
  }
  #alltwo {
    background-image: url('eni.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .oth1{
    color: white;
    font-size: 150%;

  }
  #flex7{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:-170px
  }
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

/* .glow-on-hover:active {
    color: #000
} */

/* .glow-on-hover:active:after {
    background: transparent;
} */

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#btn2{
    transition: 0.3s;
}
#btn2:hover{
    transform: scale(1.08);
}
#btn2:active{
    transform: scale(0.92);
}
#sectiontwo{
    background-color: #fff;
    position: absolute;
    top:120px;
    width: 80%;
    height:70%
    ;
    padding: 18px;
}

#p29{
    text-align: center;
    position: absolute;
    top:0;
    left: 33rem;
}
#s2:hover{
cursor: pointer
;
color: red;
}
#s2{
    transition: 0.2s;
}
#s2:active{
    transform: scale(0.92);
}
#img11{
    width:  226px;
    height: 356px;
    float: right;
    margin-top: 50px;
}
.que1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    text-align: center;
    font-size: 110%;
    color:rgb(89, 89, 89)
}
#sectiontwo{
    border-radius: 5px;
}
#wrap2{
 
    margin-top: 5rem;
}
.grp{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  position: relative;
  left: 18rem;
}
.inp{
    border: 1px solid dodgerblue;
    outline: none;
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
}
.inp:focus{
    transform: scale(1.08);
}
.lb1{
    background-color: rgba(255, 255, 255, 0.21);
    border: 1px solid rgba(139, 87, 42, 0.53);
    padding: 18px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;

}
.lb1:active
{
    transform: scale(0.96);
    
}
#lb2{
    margin-top: 20px;
}
#flex8{
    display: flex;
    flex-direction: column;

}
input[type="radio"] {
    transform: scale(1.5);
    margin-right: 20px;
}
#allgrp{
    overflow-y:auto;
    overflow-x: hidden;
    height: 70%;
}
.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  #sectiontwo{
    transition: 1s;
    visibility: hidden;
    opacity: 0;
  }
  #sectiontwo.anc1{
    transition: 1s;
    visibility: visible;
    opacity: 1;
  }
  #alltwo.blur,#topbar.blur{
    transition:1s;
   
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  #sectiontwo{
    left: 150px;
  }
  #img12{
    width : 330px;
    height: 220px;
    position: relative
    ;
    left:65rem;
    margin-top:-100px
  }
  #section1{
    background-color: #F4F4EE;
    overflow-x: hidden;
    padding: 18px;
    height: 25rem;
  }
  #box1{
    background-color: #d2d2c3;
    width:330px;
    height: 210px;
    
    position: relative;
    left:67rem ;
    top:150px   
  }
  #p30{
    font-size: 379%;
    font-weight: 500;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -19rem;
    left:5rem
  }
  #img13{
position: relative;
left:15rem ;
top:3rem;
width:300px;
z-index: 222; }
#p31{
    position: relative;
    margin-top: -10rem;
    left:5rem;
    width:40%;
    line-height: 30px;
    top:-10rem
}
#section1{
    overflow-y: hidden;
}
#p32{
    font-size: 295%;
    font-weight: 900;
    font-family: "Baumans";
}
#img14{
    width:400px
    ;
    height: 280px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
#combo2{
    background-color: #dcddcd;
    padding: 18px;
    width: 85%;
    height: 15%;
    border-radius: 18px;
}
#p33{
    line-height: 35px;
}
#combo{
    display: flex;
    flex-direction: column;;
    align-items: baseline;
    position: relative;
    left:-8rem
  
}
#bitch1{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#img15{
    width:300px;
    height: 505px;
    margin-left: 7rem;
    margin-top: 5rem;
}
#bitch2{
    margin-top:5rem;
    display: flex;
    flex-direction: row;;
   
    

}
#divlast{
    width:70%
}
#p34{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size:240%;
}
#combo3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#p35{
    line-height: 25px;
}
#img16{
    position: absolute;
}
#img16{
    width:300px;
    margin-left: 70px;
    margin-top: 50px;
}
#wrapp{
    margin-top:10rem
}